<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Crud</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.nt.crud.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.nt.crud.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.nt.crud.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.nt.crud.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPwd</display-name>
    <servlet-name>ForgetPwd</servlet-name>
    <servlet-class>com.nt.crud.ForgetPwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPwd</servlet-name>
    <url-pattern>/ForgetPwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserVeiwServlet</display-name>
    <servlet-name>UserVeiwServlet</servlet-name>
    <servlet-class>com.nt.crud.UserVeiwServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserVeiwServlet</servlet-name>
    <url-pattern>/UserVeiwServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VeiwAllDatabase</display-name>
    <servlet-name>VeiwAllDatabase</servlet-name>
    <servlet-class>com.nt.crud.VeiwAllDatabase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VeiwAllDatabase</servlet-name>
    <url-pattern>/VeiwAllDatabase</url-pattern>
  </servlet-mapping>
</web-app>